{{>header}}
{{>navbar}}
<section class="container my-4">
    <h3 class="text-center text-primary">All Customers</h3>
    <table class="table table-stripped">
        <thead>
            <th>ID</th>
            <th>Name</th>
             <th>account_number</th>
             <th>Balance</th>
             <th>TransactionType</th>
             <th>value</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {{#if hasData}}
                {{#each data}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.account_Number}}</td>
                    <td>{{this.Balance}}</td>
                    <td>{{TransactionType}}</td>
                    <td>{{value}}</td>
                    <td>
                        <a href="/users/{{this.id}}" class="btn btn-primary mx-3">Show</a>
                        <a href="/users/addTransaction/{{this.id}}" class="btn btn-danger mx-3">Add Transaction</a>
                    </td>
                </tr>
                {{/each}}
            {{else}}
                <tr class="alert alert-danger">
                    <td colspan="4">
                        No Users Yet
                    </td>
                </tr>
            {{/if}}
        </tbody>
    </table>
</section>
{{>footer}}